@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Mulish", sans-serif;
    /* background-color: #f9fbfc; */
  }
  .mg-calc-widget {
    padding-top: 96.08px;
  }
  .mg-calc-inner {
    padding-top: 76px;
    padding-bottom: 10px;
  }
  .mg-calc-centered {
    display: flex;
    justify-content: center;
  }
  .mg-calc-centered-inner {
    width: 700px;
  }
  .mg-calc-form-card-area {
    display: flex;
    padding-top: 76px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .mg-calc-form-area {
    width: 60%;
    padding-right: 40px;
  }
  .mg-calc-card-area {
    width: 40%;
  }
  .mg-calc-form {
    background-color: #ffffff;
  }
  .field-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  .field-input-wrapper {
    width: 55%;
    display: flex;
    align-items: center;
  }
  .field-input-wrapper input, .field-input-wrapper select {
    width: 100%;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    padding: 5px;
    outline: 0;
  }
  .field-input-wrapper select {
    padding: 6px;
  }
  .field-input-wrapper .field-unit {
    display: flex;
    padding: 0 10px;
    height: 36px;
    align-items: center;
    background: #eee;
    border: 1px solid #b3b3b3;
    white-space: nowrap;
  }

  .mg-calc-loan-card .field-group {
    font-size: 14px;
  }

  .loan-card-btn {
    background: #1ea59a;
    color: #fff;
    padding: 10px;
    float: right;
  }

  .mg-calc-loan-card {
    box-shadow: 1px 1px 8px #ebebeb;
    border-radius: 3px;
  }
  .mg-calc-loan-card>div {
    padding: 20px;
  }
  .mg-calc-loan-card>div:first-child {
    background-color: #eee;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .amortization-table {
    width: 100%;
    min-width: 464px;
  }
  .amortization-table td, .amortization-table th {
    text-align: right;
  }
  .amortization-table td:first-child, .amortization-table th:first-child {
    text-align: left;
  }
  .amort-table-wrapper {
    margin-top: 25px;
    padding: 20px;
    box-shadow: 1px 1px 8px #eee;
    border-radius: 3px;
    overflow-x: auto;
    margin-left: 50px;
    margin-right: 50px;
    max-height: 400px;
  }

  .mort-det-weekly-div {
    display: flex;
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .mortgage-details-div {
    width: 60%;
    padding-right: 40px;
  }
  .mortgage-details-div-inner {
    padding: 20px;
    box-shadow: 1px 1px 8px #ebebeb;
    border-radius: 3px;
  }
  .weekly-payments-div {
    width: 40%;
  }
  .weekly-payments-div-inner {
    padding: 20px;
    box-shadow: 1px 1px 8px #ebebeb;
    border-radius: 3px;
    height: 100%;
  }
  .mortgage-details-flex {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    margin-bottom: 3px;
  }
  .mortgage-details-flex>div {
    flex: 1;
  }
  .mortgage-details-flex>div:nth-child(3) {
    padding-right: 20px;
  }
  .mortgage-details-flex .mgd-progress-bar {
    background-color: #000;
    height: 16px;
    position: relative;
    max-width: 100%;
  }
  .mortgage-details-flex .mgd-progress-bar .percentage-progress {
    position: absolute;
    right: -42px;
    font-size: 10px;
  }


  .mg-calc-form .range-slider {
    width: 100%;
    display: block;
    margin-bottom: 15px;
  }
  .bblr-0 {
    border-bottom-left-radius: 0 !important;
  }
  .btlr-0 {
    border-top-left-radius: 0 !important;
  }
  .bbrr-0 {
    border-bottom-right-radius: 0 !important;
  }
  .btrr-0 {
    border-top-right-radius: 0 !important;
  }
  .w-100 {
    width: 100%;
  }

  input[type=range] {
    height: 38px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    /*box-shadow: 1px 1px 1px #000000;*/
    background: #d51818;
    border-radius: 5px;
    border: 1px solid #eee;
  }
  input[type=range]::-webkit-slider-thumb {
    /*box-shadow: 1px 1px 1px #000000;*/
    border: 1px solid #000000;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -4px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #d51818;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    /*box-shadow: 1px 1px 1px #000000;*/
    background: #d51818;
    border-radius: 5px;
    border: 1px solid #eee;
  }
  input[type=range]::-moz-range-thumb {
    /*box-shadow: 1px 1px 1px #000000;*/
    border: 1px solid #000000;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #FFFFFF;
    cursor: pointer;
    margin-top: -4px;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #d51818;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #d51818;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 30px;
    width: 15px;
    border-radius: 5px;
    background: #FFFFFF;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #d51818;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #d51818;
  }

  /* Style for savings calculator */
  .sv-calc-widget {
    padding-top: 96.08px;
  }
  .sv-calc-wrapper {
    display: flex;
  }
  .sv-calc-intro-div {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
  }
  .sv-calc-intro-div-inner {
    width: 285px;
  }
  .sv-calc-form-area {
    width: 60%;
    padding: 60px 60px;
    padding-bottom: 20px;
  }
  .sv-calc-home-val-slider-wrapper {
    position: relative;
    margin-top: 10px;
  }
}
@layer utilities {
  .zIndex-0 {
    z-index: -1;
  }

  .border-x-1 {
    border-left-width: 1px;
    border-right-width: 1px;
  }

  .my-min-width {
    min-width: 100px;
  }
  .box-shadow {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.04);
  }
  .agentList-top {
    top: -120px;
  }
  .top-50 {
    top: -50px;
  }
  .margin-top {
    margin-top: -140px;
  }
}

@responsive {
  .myGrid {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
  }
  .my-minsm-width {
    min-width: 180px;
  }
  .top-20 {
    top: 80px;
  }
  .top-35 {
    top: 35px;
  }
  .top-65 {
    top: -65px;
  }
  .top-40 {
    top: 80px;
  }
  .top-50 {
    top: -50px;
  }
  .top-30 {
    top: -30px;
  }
  .h-110 {
    height: 110%;
  }
}
@media only screen and (max-width: 520px) {
  .top-20 {
    top: 60px;
  }
  .mg-calc-form-card-area {
    padding-left: 0;
    padding-right: 0;
  }
  .amort-table-wrapper {
    margin-left: 0px;
    margin-right: 0px;
  }
  .mort-det-weekly-div {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media only screen and (max-width: 450px) {
  .top-20 {
    top: 40px;
  }
}
@media only screen and (max-width: 400px) {
  .top-20 {
    top: 25px;
  }
  .my-padding {
    padding: 0 10px;
  }
}
@media only screen and (max-width: 750px) {
  .mg-calc-centered-inner {
    width: unset;
  }
  .sv-calc-wrapper {
    flex-direction: column;
  }
  .sv-calc-intro-div {
    width: 100%;
    padding: 60px 0px;
  }
  .sv-calc-form-area {
    width: 100%;
    padding: 20px 0;
  }
}
@media only screen and (max-width: 991px) {
  .mg-calc-form-card-area {
    flex-direction: column;
  }
  .mg-calc-form-area {
    width: 100%;
    padding-right: 0;
    margin-bottom: 25px;
  }
  .mg-calc-card-area {
    width: 100%;
  }
  .mort-det-weekly-div {
    flex-direction: column;
  }
  .mortgage-details-div {
    width: 100%;
    padding-right: 0px;
    margin-bottom: 25px;
  }
  .weekly-payments-div {
    width: 100%;
  }
}